#CHANGELOG {
    line-height: normal;
    text-decoration: none;
    color: var(--color-button-text);
    transition: background .1s ease-out 0.5s;
    border-radius: 4px;
    margin: auto;
    font-size: unset;
    padding: 5px 5px 5px 10px
}

#CHANGELOG_NOTIFY {
    content: "\A";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--color-button-notify);
    display: inline-block;
    margin-right: .2rem
}

#CHANGELOG:hover {
    /* background: var(--color-button-hover) */
    filter: brightness(150%)
}

#CHANGELOG_RENDERER {
    display: none;
    position: absolute;
    top: 100%;
    background: var(--color-background);
    box-shadow: var(--color-border-shadow-params) var(--color-border-shadow);
    border-radius: 10px;
    margin-top: 20px;
    width: var(--setting-changelog-width);
    overflow: hidden;
    border: 4px solid var(--color-border-edge);
    right: 0;
    left: auto
}

#CHANGELOG_RENDERER.show {
    display: block
}

#CHANGELOG_RENDERER .CL_content-body {
    height: var(--setting-changelog-height);
    padding: 0;
    text-align: left;
    /* overflow-x: auto; */
    overflow: auto;
}

#CHANGELOG_RENDERER .CL_content-body hr {
    border-bottom: 2px solid var(--color-border-header-edge);
    padding: 30px 0px 20px 0px;
    margin: auto;
}

#CHANGELOG_RENDERER .CL_content-body h1,
#CHANGELOG_RENDERER .CL_content-body h2,
#CHANGELOG_RENDERER .CL_content-body h3,
#CHANGELOG_RENDERER .CL_content-body h4,
#CHANGELOG_RENDERER .CL_content-body h5,
#CHANGELOG_RENDERER .CL_content-body h6 {
    pointer-events: var(--setting-heading-links);
    display: block;
    position: relative;
    margin: auto;
    padding: 0px 0px 0px 20px;
    border-bottom: 2px solid var(--color-border-header-edge);
    border-top: 2px solid var(--color-border-header-edge);
}

#CHANGELOG_RENDERER .CL_content-body h1 {
    background: var(--color-h1-background);
    font-size: 2rem;
}

#CHANGELOG_RENDERER .CL_content-body h2 {
    background: var(--color-h2-background);
    font-size: 2rem;
}

#CHANGELOG_RENDERER .CL_content-body h3 {
    background: var(--color-h3-background);
    font-size: 1.5rem;
}

#CHANGELOG_RENDERER .CL_content-body h4 {
    background: var(--color-h4-background);
    font-size: 1.2rem;
}

#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar {
    width: 10px
}

#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    background-color: var(--color-scroll-track);
    border-radius: 10px
}

#CHANGELOG_RENDERER .CL_content-body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-scroll-button);
}

#CHANGELOG_RENDERER .CL_content-body li:before {
    content: "\f00c";
    font-family: FontAwesome;
    display: inline-block;
    /* margin-left: -1.3em; */
    width: 1.3em
}

#CHANGELOG_RENDERER .CL_content-body li,
#CHANGELOG_RENDERER .CL_content-body ul {
    display: block;
    width: 100%;
    position: relative;
    background: var(--color-background);
    height: auto;
    padding-left: 1em ;
    color: var(--color-list-text);
    max-height: calc(100vh - 61px);
}

#CHANGELOG_RENDERER .CL_content-body ul {
    padding-left: 1.3em ;
    padding-bottom: .3em ;
}

#CHANGELOG_RENDERER .CL_content-body p {
    width: 100%;
    display: block;
    padding: 5px 20px;
    background: var(--color-background);
    position: relative;
    color: var(--color-p-text);
}

#CHANGELOG_RENDERER .CL_content-body blockquote {
    font-size: 1.5em;
    margin-left: 1em;
    width: 95%;
    color: var(--color-blockquote-text);
}

#CHANGELOG_RENDERER .CL_content-body strong {
    font-size: 1.5rem;
    margin-left: 0em;
    width: 95%;
    color: var(--color-strong-text);
    background: var(--color-strong-background);
}

#CHANGELOG_RENDERER .CL_content-body a {
    font-size: 1.1em;
    color: var(--color-a-text);
    background: var(--color-a-background);
}

#CHANGELOG_RENDERER .CL_content-body a:hover {
    color: var(--color-a-text);
    background: var(--color-a-background-hover);
}

@media screen and (max-width:768px) {
    .app-nav {
        width: 100%!important;
        margin: auto!important
    }
    #CHANGELOG_RENDERER {
        left: 0;
        width: 100%
    }
}

:root {
    --setting-changelog-height: 90vh; /* original 60vh */
    --setting-changelog-width: 65%; /* original 400px */

    --setting-heading-links: none; /* disables the Heading links auto generated by docsify.*/

    --color-button-text: #e78931; /* original unset */
    --color-button-notify: var(--color-button-text); /* original rgb(232, 68, 68) */
    --color-button-hover: #582d04; /* original rgb(242, 245, 247) - this is not used when the brightness line is enabled. */

    --color-background: #000000; /* original #fff */
    --color-background-high: #070707; /* original unset */

    --color-scroll-track: #000000; /* original rgba(0, 0, 0, 0.03) */
    --color-scroll-button: #6d6d6d; /* originals #6d6d6d */

    --color-border-edge: #000000; /* original rgba(0, 0, 0, 0.1) */
    --color-border-shadow: #000000; /* original rgba(0, 0, 0, 0.15) */
    --color-border-shadow-params: 0px 0px 50px 23px; /* original rgba(0, 0, 0, 0.15) */
    --color-border-header-edge: var(--color-button-text); /* original rgba(0, 0, 0, 0.1) */

    --color-strong-text: #e6c409; /* original unset */
    --color-strong-background: #462200; /* #462200;  original unset */

    --color-list-text: #80e42e; /* original Unset */
    --color-p-text: var(--color-button-text); /* original Unset */
    --color-blockquote-text: var(--color-strong-text); /* original unset */

    --color-a-text: var(--color-strong-text); /* original unset */
    --color-a-background: var(--color-background-high); /* original unset */
    --color-a-background-hover: #6868687a; /* original unset */

    --color-h1-background: var(--color-background-high); /* original rgba(0, 0, 0, .03) */
    --color-h2-background: var(--color-background-high); /* original rgba(0, 0, 0, .03) */
    --color-h3-background: var(--color-background-high); /* original rgba(0, 0, 0, .03) */
    --color-h4-background: var(--color-background-high); /* original rgba(0, 0, 0, .03) */
}
